<p id="notice"><%= notice %></p>

<h1>Supermarkets from CEP: <%= @cep.code %></h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @supermarkets.each do |supermarket| %>
      <tr>
        <td><%= link_to supermarket.name, products_supermarket_path(supermarket) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supermarket', new_supermarket_path %>
